<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body style="background-color:cornsilk;">
    <div align="center">
    <%- include('heading.ejs') %>
   </div>
   <div class="text-white bg-gray-600 hover:bg-gray-900  rounded w-fit px-2 py-1 flex gap-2 cursor-pointer hover:text-600">
    <a href="/adminpassword/reset" class="text-white"> Reset Password</a>
</div>  
   <center>
    <b style="font-size: larger;"> Welcome <%=userName%>!!</b>
 </center>
    <div class="my-3 mx-6" >
        <div class="flex gap-2 py-4 justify-between">
            <div> 
            <b>
            <h5 class="text-xl">My Elections List</h5>
            </b>
        </div>  
            <div class="text-white bg-green-600 hover:bg-green-900 font-medium rounded px-5 py-2">
                <a href="create" class="text-white"> create a new election</a>
            </div>       
        </div>
         <div class="flex-auto">
            <%- include('lists_of_elections.ejs') %>
        </div>
    </div>
        </div>
    </div>
    <% if (messages.success) { %>
        <div class="bg-green-300 text-green-900 p-2 rounded-lg shadow">
            <center>
            <li><b><%= messages.success %></b>
            </center>
            </li>
            </div>
    <% } %> 
    <% if(messages && messages.error && messages.error.length > 0)  { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
               <center>
               <div class="bg-red-300 text-red-900 p-2 rounded-lg shadow">
                <li> <b><%= messages.error[i] %></b></li>
               </div>
            </center>
        <% } %>
      <% } %> 
</body>
</center>
</html>