<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body style="background-color: bisque;">

    <%- include('heading.ejs') %>

    <div class="bg-black-600 px-5 py-6 hover:bgblack-600" >
        <a href="/elections" class="text-white bg-gray-600 hover:bg-gray-900 font-medium rounded px-4 py-2">GO BACK</a>

   </div>
    <div>
        <% if (election.ended) { %>
            <b>
            <div class="bg-red-300 text-red-900 p-2 rounded-lg shadow">
                <center>
              Election Ended
            </center>
            </div>
        </b>
        <div>
            <b> Voter can visit this link to cast their Vote :</b>
            <a href="/externalpage/<%=publicurl%>/"  class="py-1 hover:text-purple-blue text-blue-600" target="_blank">https://online-voting.onrender.com/externalpage/<%=publicurl%></a>
        </div>
          <% } else if (election.launched) { %>
            <b>
            <div class="bg-green-300 text-green-900 p-2 rounded-lg shadow">
                <center>
               Election is Live
            </center>
            </div>
           </b>
            <div>
            <b> Voter can visit this link to cast their Vote :</b>
            <a href="/externalpage/<%=publicurl%>/"  class="py-1 hover:text-purple-blue text-blue-600" target="_blank">https://online-voting.onrender.com/externalpage/<%=publicurl%></a>
        </div>
            <% } %>
    </div>
    <div>
        <center>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <b>
                        <p class="bg-red-300 text-red-900 p-2 rounded-lg shadow"><%= messages.error[i] %></p>
                        </b>
                    <% } %>
                <% } %>
            </div>
        </center>
    </div>
    </div>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
        <h3 class="text-2xl my-4 font-medium"><%= title %> Election Page</h3>
        <div class="my-8">
            <h2 class="my-2 text-lg text-black flex gap-1"> election has <span class="text-black-600"> <%= countquestions %> </span> questions</h2>
            <a href="/questions/<%= id %>" class="py-1 hover:text-black-800 text-black-600">Manage questions</a>
        </div>
        <div class="my-8">
            <h2 class="my-2 text-lg text-black flex gap-1"> election has <span class="text-black-600"> <%= countvoters %> </span>  voters</h2>
            <a href="/voters/<%=id %>" class="py-1 hover:text-black-800 text-black-600">Manage voters</a>
        </div>
        <div>
            <a href="/election/<%=id%>/launch" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Launch election</a>
        </div>

        </div>
        <div>
            <a href="/election/<%= election.id %>/electionpreview" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Preview election</a>
                </div>
        </div>
        <div class="grid grid-cols-3">
            <div class="col-start-3 col-span-2">
        <div>

            <a href="/results/externalpage/<%=publicurl%>" class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-5 py-2">Preview Results</a>
        </div>
        </div>
        </div>
    </div>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
    <div>
        <a href="/election/<%=id%>/end" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-8 py-2"> end election</a>
    </div>
        </div>
    </table>
</body>
</html>