<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function deleteOption(id) {
            fetch(`/${id}/deleteoptions`, {
                method: "delete",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token
                })
            }).then((res)=>{
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err)=> console.error(err))
        }
    </script>
    <link rel="stylesheet" href="./css/style.css">
    <title><%= title %></title>
</head>
<body style="background-color: cornsilk;">
    <%- include('heading.ejs') %>
    <div  class="bg-black-600 px-3 py-4 hover:bgblack-600">
    <a href="/questions/<%= id%>" class="text-white bg-gray-600 hover:bg-gray-900 font-medium rounded px-5 py-2 ">Questionpage</a>
    </div>
  
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4">
            
            <div class="px-2 py-1">
                <h3 class="text-2xl my-2"><%= title %></h3>
                <p class="text-black-800"><%= description %></p>
            </div>
            <div class="ml-12">
                <ol class="list-decimal">
                    <% for(let i=0; i<option.length; i++) { %>
                        <li class="option-item">
                            <div class="flex justify-between items-center w-full my-2 px-2 py-1">
                                <p class="ml-2 text-lg "><%= option[i].optionname %></p>
                                <div class="flex gap-2 ">
                                <div class="rounded w-fit px-2 py-1 flex gap-2">                                                                          
                                    <a href="/elections/<%=id%>/questions/<%=questionID%>/options/<%=option[i].id%>/modify" class="text-sm">Edit option</a>
                                </div>
                                <div class="rounded w-fit px-2 py-1 flex gap-2">
                                              
                                    <a onclick="deleteOption(<%= option[i].id %>)" class="text-sm cursor-pointer">Delete option</a>
                                </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ol>
            </div>
            <form action="/displayelections/correspondingquestion/<%=id%>/<%= questionID %>/options" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="optionname" placeholder="Enter an option" class="border border-gray-500 text-gray-900 w-full rounded p-2 ">
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-3 py-2">Add option</button>
                    </div>
                </div>
            </form>
            <b>
            <p class=" justify-center" align="center"><%= (option.length==0)?"No options are added yet!!":"" %></p>
        </b>
        </div> 
    </div>
    <% if(messages && messages.error && messages.error.length > 0)  { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
               <div class="bg-red-300 text-red-900 p-2 rounded-lg shadow">
                <center>
                    <b>
                <li> <%= messages.error[i] %></li>
            </b>
            </center>
               </div>
        <% } %>
      <% } %>    
</body>
</html>